/*all*/
@font-face {
    font-family: "hiratitle";
    src: url("Harenosora.otf");
}

* {
    margin: 0;
    padding: 0;

}

html {
    
}
.wrapper{
    overflow: hidden;
}

/*
PINK ffe4d9
MIZU c7e7e6
BLUE 236bcb
MOJI 004e7f
*/
.header {
    background-color: #fff;
    height: 900px;
}


/*header*/
#main-title {
    margin-top: 5%;
    margin-bottom: 25%;
    width: 80%;
}

#main-title2 {
    margin-bottom: 50px;
    width: 80%;
}

.header {
    background-image: url(main-pic.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: bottom;

    position: relative;
    font-family: 'TsukuBRdGothic-Regular', YuGothic, 'Yu Gothic', sans-serif;
    height: 900px;
}

nav li {
    display: none;
}

nav li a {
    text-decoration: none;
    font-size: 30px;
    color: #004e7f;
}

.menubar {
    z-index: 998;
    position: absolute;
    top: 400px;
    right: 200px;
}

/*body*/
body {
    font-family: 'TsukuBRdGothic-Regular', YuGothic, 'Yu Gothic', sans-serif;

}

.section {
    height: 1000px;
    position: relative;
    background-color: #ffe4d9;
}

.sidebar {
    display: none;
}

.rightsidebar {
    right: 0;
}

.loftsidebar {
    left: 0;
}

.section-title {
    position: absolute;
    width: 100%;

}

p {
    color: #004e7f;
}

h3 {
    color: #004e7f;
}

.firsttitle {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 30px;
    color: #fff;
    z-index: 800;
}


.bar {
    width: 80%;
    margin-top: 100px;
    z-index: 799;
}

.btn {
    background-color: #c7e7e6;
    padding: 5px;
    border: solid 2px #fff;
    width: 150px;

    border-radius: 10px;
    text-align: center;
    float: right;
    margin:0 10%;
    margin-right: 100px;
    clear: both z-index: 999;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.s;
}

.btn:hover {
    background-color: #fff;
    border-color: #c7e7e6;

}

.btn a {
    position: relative;
    color: #004e7f;
    text-decoration: none;
    z-index: 999;
}

.wordbox {
    width: 350px;
    display: block;
    margin: 0 auto;
    z-index: 798;
    height: 200px;
    position: absolute;
    padding: 0;
}

.picturebox {
    position: absolute;
    top: 450px;
    left: 5%;
    width: 90%;
    display: block;
    margin: 0;
}

.picturebox img {
    padding: 10px;
    width: 25%;
}




/*section1我孫子市とは*/
#section1 {
    background: #ffe4d9 url(hakutyor.png) no-repeat;
    background-size: contain;
    background-position: bottom;

    height: 1000px;
    position: relative;
}


.title1 {
    color: #004e7f;
}

.bg {
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
}

#wordbox1 {
    float: right;
    padding: 0;
    top: 200px;
    left: 5%;

}



#section1 p {
    font-size: 15px;
}

#section1 h3 {
    font-size: 20px;
}


#point {
    height: 92px;
    position: absolute;
    left: 20px;
    top: 290px;

}

#tibamap {
    height: 100%;
    width: 160%;


}

.map {
    height: 500px;
    position: absolute;
    top: 0;
}


/*section2我孫子から座って通勤*/
/*#traindraw{
    width: 60%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
}*/
#section2 {
    position: relative;
    background: #ffe4d8 url(backtrain.png) no-repeat;
    background-size: contain;
}

#section2 .picturebox img {
    border-radius: 10px;
}


.big-sub {
    font-size: 25px;
}

.mini-sub {
    font-size: 20px;
}

#wordbox2 {
    float: right;
    padding: 0;
    top: 200px;
    left: 5%;
}

#wordbox2 p {
    font-size: 15px;
}

.btn2 {
    margin-top: 370px;
    /*margin-left: 15%;*/
}




/*section3子育てに優しい街我孫子*/
/*.handimg{
    width: 80%;
}*/
#section3 {
    background-image: url(backhand.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#wordbox3 {
    top: 200px;
    left: 5%;
}

.btn3 {
    margin-top: 370px;
    /*margin-left: 15%;*/
}

/*section4暮らしやすい町我孫子*/
#section4 {
    position: relative;
}

#treedraw {
    width: 60%;
    position: absolute;
    top: 0;
}

#wordbox4 {
    top: 200px;
    left: 5%;
}

.btn4 {
    margin-top: 370px;
    /*margin-left: 15%;*/
}

/*footerフッター*/

.footer {
    font-family: 'TsukuBRdGothic-Regular', YuGothic, 'Yu Gothic', sans-serif;
    height: 900px;
    background-color: #ffe4d9;
    background-image: url(footer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

li {
    list-style-type: none;
    top: 0;

}

.icon img {
    width: 50px;
    display: block;
    margin: 30px;
    float: left;
    position: relative;
    top: 0;
}

.icons {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 200px;
}

.icon p {
    width: 200px;
    margin: 0;
    padding: 0;
}

.footer p {
    text-align: center;
    color: #004e7f;
    overflow: hidden;

}

.fullpage {
    display: none;
}
