/*all*/
@font-face {
    font-family: "hiratitle";
    src: url("Harenosora.otf");
}

* {
    margin: 0;
    padding: 0;

}
html{
    height: 100%;
}


/*
PINK ffe4d9
MIZU c7e7e6
BLUE 236bcb
MOJI 004e7f
*/
header {
    background-color: #fff;
}


/*header*/
#main-title {
    margin-top: 5%;
    margin-bottom: 25%;
}

#main-title2{
    margin-bottom: 50px;
}
header {
    background-image: url(main-pic.png);
    background-repeat: no-repeat;

    position: relative;
    font-family: 'TsukuBRdGothic-Regular', YuGothic, 'Yu Gothic', sans-serif;
    
}

nav li {
    list-style-type: none;
    line-height: 5em;
}

nav li a {
    text-decoration: none;
    font-size: 30px;
    color: #004e7f;
}

.menu {
    z-index: 998;
    position: absolute;
    top: 400px;
    right: 200px;
}

/*body*/
body {
    font-family: 'TsukuBRdGothic-Regular', YuGothic, 'Yu Gothic', sans-serif;
    height: 100%;
}

.section {
    height: 100%;
    position: relative;
    background-color: #ffe4d9;
}

.sidebar {
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
}

.rightsidebar {
    right: 0;
}

.loftsidebar {
    left: 0;
}

.section-title {
    position: absolute;
    width: 100%;
    
}

p {
    color: #004e7f;
}

h3 {
    color: #004e7f;
}

.firsttitle {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 50px;
    color: #fff;
    z-index: 800;
}


.bar {
    width: 80%;
    margin-top: 100px;
    z-index: 799;
}

.btn {
    background-color: #c7e7e6;
    padding: 5px;
    border: solid 2px #fff;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    float: right;
    margin-right: 10%;
    clear: both;
    z-index: 999;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.btn:hover{
    background-color: #fff;
    border-color: #c7e7e6;
    
}

.btn a {
    position: relative;
    color: #004e7f;
    text-decoration: none;
    z-index: 999;
}

.wordbox {
    width: 500px;
    display: block;
    margin: 0 auto;
    z-index: 798;
    height: 200px;
    position: absolute;
}

.picturebox {
    position: absolute;
    top: 70%;
    width: 70%;
    display: block;
    margin: 0 280px;
}

.picturebox img {
    padding: 15px;
    width: 25%;
}




/*section1我孫子市とは*/
#section1 {
    background: #ffe4d9 url(backbird.png) no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}


.title1 {
    color: #004e7f;
}

#wordbox1 {
    float: right;
    padding: 150px;
    top: 40%;
    left: 40%;
}

#point {
    height: 92px;
    position: absolute;
    left: 310px;
    top: 290px;

}

#tibamap {
    width: 70%;


}

.map {
    height: 500px;
    position: absolute;
    top: 0;
}


/*section2我孫子から座って通勤*/
/*#traindraw{
    width: 60%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
}*/
#section2 {
    position: relative;
    background: #ffe4d8 url(backtrain.png) no-repeat;
    background-size: cover;
}


.big-sub {
    font-size: 44px;
}

.mini-sub {
    font-size: 20px;
}

#wordbox2 {
    float: right;
    padding: 100px;
    top: 20%;
    left: 50%;
}

#wordbox2 p {
    font-size: 20px;
}
.btn2{
    margin-top: 33%;
    margin-right: 15%;
}




/*section3子育てに優しい街我孫子*/
/*.handimg{
    width: 80%;
}*/
#section3 {
    background-image: url(backhand.png);
    background-size: cover;
}
#wordbox3{
    top: 30%;
  left: 10%;
}
.btn3{
    margin-top: 25%;
    margin-right: 75%;
}

/*section4暮らしやすい町我孫子*/
#section4 {
    position: relative;
}

#treedraw {
    width: 60%;
    position: absolute;
    top: 0;
}
#wordbox4{
    top: 40%;
    left: 60%;
}
.btn4{
     margin-top: 32%;
    margin-right: 25%;
}

/*footerフッター*/

footer {
    font-family: 'TsukuBRdGothic-Regular', YuGothic, 'Yu Gothic', sans-serif;
    height:100%;
    background-color: #ffe4d9;
    background-image: url(footer.png);
    background-size: cover;
}
